
:root{
  --ltaOrange: #ff4400;
}

  
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 20%;
}


.gridImg img{    
    object-fit:scale-down;
    object-position: center;
    border-radius: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
  }

li a:hover {
    background-color: #555;
    color: white;
  }

  header {    
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
  }
.topheader {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #ffffff;
    color: #000;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    margin-left: 0px;
    font-size: larger;
}
.topheader .CentralLogo
{
    width: auto;
    height: 100%;
    object-fit:fill;
    object-position: center;
    border-radius: 0%;
}
header .imgLogo {
  width: 60px;
  height: 60px;
  margin-left: 3em;
  object-fit: cover;
  object-position: center;
  border-radius: 20%;
  transition: 0.3s cubic-bezier(.36,-0.01,0,.77);
}
header h1 {
  font-size: 2em;
  margin-left: 1em;
  margin-top: 0.5em;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
  color: #000;
}
header div >*{
  text-decoration: none;
  color: #000;
  align-self: center;  
}

header div >*:hover {
  font-weight: bold;
  color: #636363;
  align-self: center;
}
body{
    background-color: #333237;
    text-align: center;
    color: #000;
    border-radius: 5px;
    margin-left: 0px;
    margin-top: 50px;
}
.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 80px;    
    transition: 0.3s cubic-bezier(.36,-0.01,0,.77);
  }
  .closebtn {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border: none;
    margin: 0;
  }
  .openbtn {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border: none;
    margin: 0;
  }
.sidebar a {
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
  }
.sidebar ul li {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    flex-wrap: wrap;
  }
  /* Add Icons*/
.launchbtn{
    background-color: #d8d8d8;
    color: #4985f5;
    padding: 10px 15px;
    border: none;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}
.icon::before {
display: inline-block;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
}
.jumbotron {
    background-color: #333237;
    padding: 20px,0px;
    text-align: center;
    color: #fff;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}
.jumbotron > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    border-radius: 0%;
}
.jumbotron h1{
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: white;    
    position:absolute;top:20vw;left:0;z-index:1;
    padding: 50px;
    text-align: center;
    
}
.jumbotron p{
  flex-wrap: wrap;
    font-size: 1.5rem;
    font-family: 'Ubuntu Mono', monospace;
    padding: 10px 20%;
    color: white;
    position:absolute;top:40vw;left:0;z-index:1
}
.BodyGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 10px;
    max-width: 1200px;
    color: #fff;
}
.BodyGrid .CardGrid{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr,5fr;
}

.CardGrid h2{
   color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10% 15%;
    text-transform:uppercase;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: #000 0px 0px 10px;
}
.CardGrid p,.CardGrid ul{
    padding: 10% 15%;
    font-size: 1.0rem;
    font-family: 'Ubuntu Mono', monospace;
    color: #fff;
    text-shadow: #000 0px 0px 10px;
    text-align: center;
    line-height: 25px;
    
}

.CardGrid li{
    padding: 0%;
    font-size: 1.0rem;
    font-family: 'Ubuntu Mono', monospace;
    color: #fff;
    text-shadow: #000 0px 0px 10px;
    text-align: justify;
}
.CardGrid li::before{
    content: "•";
    color: #ff4400;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.BodyGrid .gridImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.BodyGrid .gridImg img:hover{
    transform: scale(1.1);
}

/* Services */

.CardGridText {
    font-size: 1.5rem;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #e9eaee;
    color: #313131;
    text-align: center;
    line-height: 25px;
    padding: 40px 10%;
    grid-column-start: 0;
    grid-column-end: 3;
    grid-row: 1;
    
}

.ServicesGrid {
  display:grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-gap: 30px 30px;
  padding: 30px;
  background-color: #e9eaee;
}
.ServicesGrid .card{
  display:grid;
  height: 100%;
  width: 100%;
  padding: 40;
  background-color: #f2f2f2;
    border-radius: 10px;
    grid-column: auto;
    -webkit-box-shadow: 1px 10px 9px 1px rgba(0,0,0,0.1); 
box-shadow: 1px 10px 9px 1px rgba(0,0,0,0.1);
  margin-bottom: 50px;
}
.ServicesGrid .card:hover{
  transform: scale(1.1);
}

.ServicesGrid .card h3{
  font-size: 1.8rem;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  color: var(--ltaOrange);
  text-align: center;
  line-height: 25px;
  padding: 10% 10% 0% 10%;
  text-transform: uppercase;
}
.ServicesGrid .card ul{
  font-size: 1.0rem;
  font-family: 'Ubuntu Mono', monospace;
  color: #313131;
  text-align: center;
  line-height: 25px;
  padding: 0px 10%;
}
.ServicesGrid #Card1 h3{
  color: #7b2201 ;
}
.ServicesGrid #Card2 h3{
  color: #be3300 ;
}
.ServicesGrid #Card3 h3{
  color: #ff4400 ;
}

/* SolutionsGrid*/
.solutionsGrid{
  max-width: 100%;
  margin: 0%;
  padding: 0%;
}

.solutionsGrid h1{
  font-size: 2.0rem;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  color: white;
  text-align: center;
  text-justify: center;
  padding: 5% 10% 0% 10%;
  text-transform: uppercase;  
  max-width: 100%;
}
.solutionsGrid .ProductGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px 15px;
  max-width: 100%;
  margin: 0%;
  padding: 5%;
}

.ProductGrid *{
  max-width: 100%;
}

.ProductGrid .CardGrid{
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  background-color: #073ff6;
  color: #000;
}

.ProductGrid * .cardImg *{
  border-radius: 0px;
  width: 100%;
  padding-bottom: 5px;
}
.ProductGrid .CardGrid .CardGridTitle{
}